
.generoApp{
    color: white;
}
.container-list {
    width: 100vw;
    height: 85vh;
}

.container-list table {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-list table tbody {
    height: 10%;
    text-align: center;
}

.container-list table thead {
    height: 10%;
    text-align: center;
    border-bottom: 2px solid #131212;
}

.container-list table thead tr {
    width: 100VW;
    justify-content: center;
}

.container-list table thead tr th {
    width: 25vh;
}

.container-list table tbody tr {
    width: 100VW;
    justify-content: center;
}

.container-list table tbody tr td {
    width: 25vh;
}

#editar {
    background: rgb(68, 194, 30);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #131313;
    font-size: 10px;
    height: 25px;
    text-transform: uppercase;
    margin-right: 10px;
}

#eliminar {
    background: rgb(194, 63, 30);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #131313;
    font-size: 10px;
    height: 25px;
    text-transform: uppercase;
    margin-right: 10px;
}

.moddle {
    margin-top: -3.6vh;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(2px);
}

.moddle .moddle-element {
    display: flex;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30%;
    background-color: #131212;
    border-radius: 20px;
}

.moddle i {
    display: flex;
    color: white;
    margin-top: 20px;
    width: 100%;
    margin-left: -20px;
    flex-direction: row-reverse;
    cursor: pointer;
}

.moddle div header h1 {
    width: 100%;
    font-size: 1em;
    text-align: center;
}
.moddle div header {
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
}
.moddle div main label {
    margin-bottom: 10px;
    text-transform: uppercase;
}

.moddle div main {
    height: 85%;
    width: 100%;
}

.App-header{
    width: 100%;
    text-align: center;
}

#save{
    margin-top: 20px;
    background-color: rgb(55, 240, 55);
    border: none;
}
.moddle div main form{
    color: white;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}

.hidden {
    display: none;
}
.out{
    cursor: pointer;
    height: 117vh;
    position: absolute;
    z-index: 0;
    width: 100%;
}

.TitleHeader{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.TitleHeader i{
    position: absolute;
    right: 30vw;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 100px;
    padding: 5px 10px;
    cursor: pointer;
}
.TitleHeader h2{
    display: flex;
    width: 100%;
    justify-content: center;
}
h3{
    text-shadow: 0 0 10px rgba(51, 236, 206, 0.9);
    color: var(--BW);
    width: 100%;
    text-align: center;
}
.container-list div{
        WIDTH: 100%;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
}
.container-list div button{
    background-color: #09d2d5;
    padding: 9px;
    border-radius: 5px;
}
.container-list div button:hover{
    background-color: #cdfbf9;
}