:root {
    --BW: #33ecce;
}

* {
    margin: 0;
    padding: 0;
}

footer {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    z-index: 0;
    pointer-events: none;
}

footer div {
    color: var(--BW);
    text-shadow: 0 0 5px rgba(51, 236, 206, 0.9);
    font-size: 1em;
}

.infName {
    padding-left: 20px;
}

.infCourse {
    padding-right: 20px;
}